*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html ,body {
    width: 100;
    height: 100;
}
#main {
    height: 100vh;
    width: 100vw ;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
.clock{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
#hour{
    background-color: white;
    color: green;
    font-size: xx-large;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid rgb(120, 189, 120);
}
#min{
    background-color: white;
    color: blue;
    font-size: xx-large;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid rgb(108, 108, 179);
}
#seconds{
    background-color: white;
    color: red;
    font-size: xx-large;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid rgb(201, 97, 97);
}
#today{
    color: blue;
    font-size: xx-large;
    display: block;
    background-color: white;
    margin-top: 3vh;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgb(129, 129, 192)
}
#today #day{
    color: green;
    font-size: xx-large;
}